@import "tailwindcss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}
